#users_api_manager .addnew{
  text-align: right;
  margin: 5px 5px 0 0;
}
#users_api_manager .form{
  display: block;
  margin: 0 5px 20px;
}

#users_api_manager label,
#users_api_manager input,
#users_api_manager textarea{
  display: block;
  width: 100%;
  text-align: left;
}
#users_api_manager label{
  font-weight: 700;
}
#users_api_manager input,
#users_api_manager textarea{
  margin-bottom: 10px;
}
#users_api_manager .button-primary{
  text-align: center;
  font-weight: 700;
  float: left;
  width: auto;
}
#users_api_manager table{
  margin-top: 20px;
}
#users_api_manager table .post_title{
  width: 80%;
  font-weight: 700;
}
#api_external_users table td{
  white-space: nowrap;
  text-overflow: ellipsis;
}
#api_external_users table .exists td{
  text-decoration: line-through;
}
